<div id="topHalf">
	<div id="ones" class="scoreRow">
		<div x-mojo-element="Button" id="buttonOnes" class="scoreButton"></div>
		<div id="scoreValueOnes" class="scoreValue"></div>
	</div>
	<div id="twos" class="scoreRow">
		<div x-mojo-element="Button" id="buttonTwos" class="scoreButton"></div>
		<div id="scoreValueTwos" class="scoreValue"></div>
	</div>
	<div id="threes" class="scoreRow">
		<div x-mojo-element="Button" id="buttonThrees" class="scoreButton"></div>
		<div id="scoreValueThrees" class="scoreValue"></div>
	</div>
	<div id="fours" class="scoreRow">
		<div x-mojo-element="Button" id="buttonFours" class="scoreButton"></div>
		<div id="scoreValueFours" class="scoreValue"></div>
	</div>
	<div id="fives" class="scoreRow">
		<div x-mojo-element="Button" id="buttonFives" class="scoreButton"></div>
		<div id="scoreValueFives" class="scoreValue"></div>
	</div>
	<div id="sixes" class="scoreRow">
		<div x-mojo-element="Button" id="buttonSixes" class="scoreButton"></div>
		<div id="scoreValueSixes" class="scoreValue"></div>
	</div>
	<div id="subtotal" class="scoreRow">
	</div>
	<div id="bonus" class="scoreRow">
		<div id="labelBonus" class="scoreLabel">Bonus</div>
		<div id="scoreValueBonus" class="scoreValue"></div>
	</div>
</div>

<div id="bottomHalf">
	<div id="threeOfAKind" class="scoreRow">
		<div x-mojo-element="Button" id="buttonThreeOfAKind" class="scoreButton"></div>
		<div id="scoreValueThreeOfAKind" class="scoreValue"></div>
	</div>
	<div id="fourOfAKind" class="scoreRow">
		<div x-mojo-element="Button" id="buttonFourOfAKind" class="scoreButton"></div>
		<div id="scoreValueFourOfAKind" class="scoreValue"></div>
	</div>
	<div id="fullHouse" class="scoreRow">
		<div x-mojo-element="Button" id="buttonFullHouse" class="scoreButton"></div>
		<div id="scoreValueFullHouse" class="scoreValue"></div>
	</div>
	<div id="smallStraight" class="scoreRow">
		<div x-mojo-element="Button" id="buttonSmallStraight" class="scoreButton"></div>
		<div id="scoreValueSmallStraight" class="scoreValue"></div>
	</div>
	<div id="largeStraight" class="scoreRow">
		<div x-mojo-element="Button" id="buttonLargeStraight" class="scoreButton"></div>
		<div id="scoreValueLargeStraight" class="scoreValue"></div>
	</div>
	<div id="fiveOfAKind" class="scoreRow">
		<div x-mojo-element="Button" id="buttonFiveOfAKind" class="scoreButton"></div>
		<div id="scoreValueFiveOfAKind" class="scoreValue"></div>
	</div>
	<div id="chance" class="scoreRow">
		<div x-mojo-element="Button" id="buttonChance" class="scoreButton"></div>
		<div id="scoreValueChance" class="scoreValue"></div>
	</div>
	<div id="total" class="scoreRow">
		<div id="labelTotal" class="scoreLabel">Total</div>
		<div id="scoreValueTotal" class="scoreValue"></div>
	</div>
</div>

<div id="dice">
	<div id="die0" class="dice"></div>
	<div id="die1" class="dice"></div>
	<div id="die2" class="dice"></div>
	<div id="die3" class="dice"></div>
	<div id="die4" class="dice"></div>
</div>
<div id="playAgain" class="palm-button">Play Again</div>

<div id="roll">
	<div x-mojo-element="Button" id="buttonRoll"></div>
</div>
