<div class="palm-row single" x-mojo-touch-feedback="delayed">
	<div class="palm-row-wrapper">
		<div name="overlayListItem" class="heldDiceOverlayGroup">
			<div id="dieOverlay1" class="dice">
				<img src="images/Die1.png"></img>
				<img src="images/Overlay#{value}.png"></img>
			</div>
			<div id="dieOverlay2" class="dice">
				<img src="images/Die2.png"></img>
				<img src="images/Overlay#{value}.png"></img>
			</div>
			<div id="dieOverlay3" class="dice">
				<img src="images/Die3.png"></img>
				<img src="images/Overlay#{value}.png"></img>
			</div>
			<div id="dieOverlay4" class="dice">
				<img src="images/Die4.png"></img>
				<img src="images/Overlay#{value}.png"></img>
			</div>
			<div id="dieOverlay5" class="dice">
				<img src="images/Die5.png"></img>
				<img src="images/Overlay#{value}.png"></img>
			</div>
			<div id="dieOverlay6" class="dice">
				<img src="images/Die6.png"></img>
				<img src="images/Overlay#{value}.png"></img>
			</div>
		</div>
	</div>
</div>
