<div id="delete-dialog-content" class="palm-dialog-content">
	<div id="title" class="palm-dialog-title">
		Delete Scores
	</div>
	<div class="palm-dialog-separator"></div>
	<div id="deleteOptions">
		Number to keep: &nbsp;
		<div id="numberToKeep" x-mojo-element="IntegerPicker"></div>
		<br />
		...of the: &nbsp; &nbsp;
		<span id="whichToKeep">Newest</span>
	</div>
	<div id="buttonGroup" class="palm-dialog-buttons">
		<div id="okButton" class="palm-button affirmative" x-mojo-tap-highlight="momentary">
			<div class="palm-button-wrapper">OK</div>
		</div>
		<div id="cancelButton" class="palm-button negative" x-mojo-tap-highlight="momentary">
			<div class="palm-button-wrapper">Cancel</div>
		</div>
	</div>
</div>
